<!DOCTYPE html>
<html lang="en">
    
<head>
    <title> PokeAC </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="game-board.component.css">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <meta name="description" content="Pokemon Auto Chess!">
 </head>

<body>
    <header>
        <img src="../../assets/userlmn_94e0458ca35d9b788b5982c1788071b1.png">
    </header>
    
    <main>
        <section class = "player-flex">
            <div>
                <h2>Player</h2>
            </div>
            <div class = "player-grid" *ngFor="let pokemon of playerPokemon">
                <p>{{pokemon.name}}</p>
            </div>
        </section>

        <section class = "board-flex">
            <div class = "board-grid">
                <div class = "grid-item">
                </div>
                <div class = "grid-item add-grass">
                </div>
                <div class = "grid-item add-grass">
                </div>
                <div class = "grid-item add-grass">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/150.png">
                </div>
                <div class = "grid-item">
                </div>
                <div class = "grid-item">
                </div>
                <div class = "grid-item add-grass">
                </div>
                <div class = "grid-item add-grass">
                </div>
                <div class = "grid-item add-grass">
                </div>
                <div class = "grid-item">
                </div>
                <div class = "grid-item">
                </div>
                <div class = "grid-item add-grass">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png">
                </div>
                <div class = "grid-item add-grass">
                </div>
                <div class = "grid-item add-grass">
                </div>
                <div class = "grid-item">
                </div>
                <div class = "grid-item">
                </div>
                <div class = "grid-item">
                </div>
                <div class = "grid-item">
                </div>
                <div class = "grid-item">
                </div>
                <div class = "grid-item">
                </div>
                <div class = "grid-item add-ball">
                    <button (click)= "addPokemon(choosePokemon)">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{choosePokemon.id}}.png">
                    </button>
                </div>
                <div class = "grid-item add-ball">
                    <button (click)= "addPokemon(choosePokemon1)">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{choosePokemon1.id}}.png">
                    </button>
                </div>
                <div class = "grid-item add-ball">
                    <button (click)= "addPokemon(choosePokemon2)">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{choosePokemon2.id}}.png">
                    </button>
                </div>
                <div class = "grid-item add-ball">
                    <button (click)= "addPokemon(choosePokemon3)">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{choosePokemon3.id}}.png">
                    </button>
                </div>
                <div class = "grid-item add-ball">
                    <button (click)= "addPokemon(choosePokemon4)">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{choosePokemon4.id}}.png">
                    </button>
                </div>
            </div>
        </section>
    
        <section class = "opponent-flex">
            <div>
                <h2>Opponent</h2>
            </div>
        </section>
    </main>

    <footer><button (click)="getPokemon()">Shuffle Pokemon</button></footer>
</body>
</html>


    