<div class="player"> aaaa</div>

<div class="enemy"> aaaa</div>


<div class="board">
    <!-- this is your selection-->
    <table>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
    </table>
</div>

<div class="selector">
    <!-- this is your selection-->
    <table>
        <tr>
            <th>Sprite</th>
            <th><img src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"></th>
            <th><img src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/12.png"></th>
            <th><img src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/142.png"></th>
            <th><img src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/112.png"></th>
            <th><img src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"></th>
        <tr>
            <th>name</th>
            <td>name</td>
            <td>of</td>
            <td>the</td>
            <td>five</td><td>pokemon</td>
        </tr>
        <tr>
            <th>stat</th>
            <td>this</td>
            <td>would</td>
            <td>be</td>
            <td>some</td>
            <td>stats</td>
        </tr>
        <tr>
            <th>Select your pokemon</th>
            <td>buttons to select</td>
            <td>buttons to select</td>
            <td>buttons to select</td>
            <td>buttons to select</td>
            <td>buttons to select</td>
        </tr>
    </table>
</div>


<!-- <p>game-board works!</p> -->